<h1>Checkout</h1>
<p style="color: red; font-weight: bold;">Try Log Injection: Enter an address like <code>123 Main St\nINJECTED</code>.<br>Try Open Redirect: Add <code>?return_to=https://evil.com</code> to the URL before submitting!</p>
<%= form_with(model: @order, url: orders_path) do |form| %>
  <div>
    <%= form.label :address, 'Shipping Address' %><br>
    <%= form.text_area :address, rows: 3 %>
  </div>
  <%= form.submit 'Place Order', class: 'button' %>
<% end %>
<%= link_to 'Return to Cart', cart_path(current_user.cart) %> 