<h1>Your Cart</h1>
<p style="color: red; font-weight: bold;">Try Log Injection: Add an item with a name like <code>test\nINJECTED</code> to see what happens in the logs!</p>

<% if @cart.cart_items.any? %>
  <ul>
    <% @cart.cart_items.each do |item| %>
      <li>
        <%= item.product.name %> (x<%= item.quantity %>)
        <%= button_to 'Remove', remove_item_cart_path(@cart, cart_item_id: item.id), method: :post %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Proceed to Checkout', new_order_path, class: 'button' %>
<% else %>
  <p>Your cart is empty.</p>
<% end %>

<%= link_to 'Continue Shopping', products_path %> 